.selection-card-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 300px));
  gap: 112px;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
}

.selection-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 20px;
  text-align: center;

  &-img {
    width: 100%;
    aspect-ratio: 1.5/1;
    object-fit: cover;
    border-radius: 10px;
  }

  &-title {
    font-size: 1.5rem;
    margin: 10px 0;
  }

  &-quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;
  }

  &-button {
    color: #f1f1f1;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;

    &-minus {
      background-color: #60a0a0;

      &:hover {
        background-color: #006c6c;
      }
    }

    &-plus {
      background-color: #006c6c;

      &:hover {
        background-color: #024d4d;
      }
    }
  }
}
